.foco-luz-coche {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0) 70%);
  border-radius: 50%;
  filter: blur(30px);
  width: 80%;
  height: 80%;
  z-index: 0;
}

.especs-maybach-imagen {
  width: 45%;
  max-width: 900px;
}

.especs-maybach-section .progress {
  height: 6px;
}

.especs-maybach-section .progress-bar {
  width: 0%;
}
